<div class="hidden md:block container mx-auto py-8">
  <h2 class="font-bold mb-7 text-4xl">How does Status Audio hold up to the competition?</h2>
  <table class="min-w-full justify-between">
    <tbody>
      <tr class="bottom-line">
        <th class="text-left text-gray-400 font-normal text-sm pb-2">Product</th>
        <th class="text-left text-gray-400 font-normal text-sm pb-2">Active noise cancelling</th>
        <th class="text-left text-gray-400 font-normal text-sm pb-2">Battery Life</th>
        <th class="text-left text-gray-400 font-normal text-sm pb-2">Controls</th>
        <th class="text-left text-gray-400 font-normal text-sm pb-2">Transparency Mode</th>
        <th class="text-left text-gray-400 font-normal text-sm pb-2">Price</th>
      </tr>
      <tr class="bottom-line">
        <td class="font-semibold pt-5 pb-5 text-sm">Status Audio Flagship ANC</td>
        <td class="font-semibold pt-5 pb-5 text-sm">Hybrid ANC</td>
        <td class="font-semibold pt-5 pb-5 text-sm">35 Hours</td>
        <td class="font-semibold pt-5 pb-5 text-sm">Touch + Physical Controls</td>
        <td class="font-semibold pt-5 pb-5 text-sm">{tick}</td>
        <td class="font-semibold pt-5 pb-5 text-sm">$199</td>
      </tr>
      <tr class="bottom-line">
        <td class="font-light pt-5 pb-5 text-sm">Airpods Max</td>
        <td class="font-light pt-5 pb-5 text-sm">Hybrid ANC</td>
        <td class="font-light pt-5 pb-5 text-sm">20 Hours</td>
        <td class="font-light pt-5 pb-5 text-sm">Physical Controls</td>
        <td class="font-light pt-5 pb-5 text-sm">{tick}</td>
        <td class="font-light pt-5 pb-5 text-sm">$549</td>
      </tr>
      <tr class="bottom-line">
        <td class="font-light pt-5 pb-5 text-sm">Bose 700 ANC Headphones</td>
        <td class="font-light pt-5 pb-5 text-sm">Hybrid ANC</td>
        <td class="font-light pt-5 pb-5 text-sm">20 Hours</td>
        <td class="font-light pt-5 pb-5 text-sm">Touch Controls</td>
        <td class="font-light pt-5 pb-5 text-sm">{tick}</td>
        <td class="font-light pt-5 pb-5 text-sm">$379</td>
      </tr>
      <tr class="bottom-line">
        <td class="font-light pt-5 pb-5 text-sm">Sony 1000MX4 ANC Headphones</td>
        <td class="font-light pt-5 pb-5 text-sm">Hybrid ANC</td>
        <td class="font-light pt-5 pb-5 text-sm">30 Hours</td>
        <td class="font-light pt-5 pb-5 text-sm">Touch Controls</td>
        <td class="font-light pt-5 pb-5 text-sm">{tick}</td>
        <td class="font-light pt-5 pb-5 text-sm">$349</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .bottom-line {
    border-bottom: 1px solid #909090;
  }
</style>